#Environment
venv/
__pycache__/
*.pyc
.DS_Store

datasets/
dataset_fold
datasets_clean/
datasets_background/
datasets_merged_into_folds/
scratch_100epochs_640size_16batchs_notpretrained_train_20250623_0008
balanced_dataset_full_splits
balanced_dataset_light_splits
dmandqrdatasetsimple-3
results
articles/
runs

dataset_test/

dataset_folds_distinct/

Code-Detection/

notebooks/Code-Detection-Test-3/
